# Core functionality - changes here should be rare!
/src/app.py                   @samirhimi
/src/backend/database.py      @samirhimi
/src/backend/routers/auth.py  @samirhimi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @samirhimi
